.image_button {
    height: 1.5rem;
    width: auto;
    margin-right: 1.5rem;
}

.separator {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    border-color: burlywood;
}