.footer_separator {
    border: 0;
    height: 2px;
    background: burlywood;
    margin: 0;
    padding: 0;
}

.buttons_container {
    height: 4rem;
    background: white;
    display: flex;
    padding-right: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.image_button {
    height: 1.5rem;
    width: auto;
    margin-right: 1.5rem;
}
