.layout_container {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content_container {
    flex: 1;
    max-width: 1280px;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-self: center;
}
